a {
  text-decoration: none;
  color: #000;
}

.product-list {
  margin: auto;
  padding: 2rem 3rem 0 3rem;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial;
  display: flex;
  flex-direction: column;
}

.product-list__filter {
  margin: 0 auto;
  display: flex;
}

.filter__item {
  min-width: 200px;
  padding: 0.5rem;
  margin-right: 1rem;
  outline: none;
  border: 1px solid #999;
}

.filter__item > option {
  appearance: none;
  padding: 1rem;
}

.product-list__list {
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0;
  margin: 1rem auto;
}

.MuiPagination-ul li {
  padding: 0.5rem;
}

.MuiPagination-ul li:hover {
  background: transparent;
}
