.header {
  width: 100vw;
  max-height: 4rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: -1rem;
  background: rgb(21, 20, 20);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  width: 100%;
}
.navbar__left {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 2rem;
}
.left__input {
  min-width: 500px;
  width: 100%;
  margin-left: 1rem;
}
.input {
  background-color: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 50px;
  outline: none;
  padding: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  padding: 0.6rem 0.7rem 0.5rem 0.7rem;
  position: relative;
}
.input:focus {
  background-color: #fff;
  border: 1px solid #999;
}
.input::placeholder {
  color: #999;
}
#results {
  background: #fafafa;
  padding: 1rem;
  position: absolute;
  top: 3rem;
  width: 500px;
  z-index: 10;
}
#results ul {
  flex-direction: column;
  padding-left: 0;
  margin: 0;
}
#results ul li {
  list-style-type: none;
  cursor: pointer;
  padding: 0.5rem;
  color: #000;
}
#results ul li:hover {
  background: #ececec;
}
.navbar__right {
  align-items: center;
  position: relative;
}
.right__cart,
.right__user {
  align-items: center;
  position: relative;
  color: #fff;
}
.navbar__right > button {
  background-color: transparent;
  border: none;
  margin: 0 1rem;
  font-size: 1.2rem;
}
.cart__cart,
.user__user {
  display: none;
  position: absolute;
  min-width: 300px;
  left: -180px;
  top: 40px;
  background-color: #fff;
  box-shadow: 5px 20px 30px rgba(34, 34, 34, 0.247);
  padding: 3rem;
  transition: 0.3s ease-in-out;
}
.user__user {
  left: -245px;
}
.navbar__right > button:hover {
  cursor: pointer;
}
.cart__login {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.navbar__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 18px;
  position: relative;
  margin-right: 1rem;
}
.navbar__icon:hover {
  cursor: pointer;
}
.navbar__icon > span {
  width: 30px;
  height: 0.5px;
  background: #fff;
}
.navbar__icon:active > span {
  animation: icon--1__rotate;
}
.navbar__icon--1 {
  transform: rotate(45deg);
  transform: translateX(5);
}
.navbar__icon--2 {
  transform: rotate(45deg);
}
.navbar__icon--3 {
  transform: rotate(-45deg);
  transform: translateX(-10);
}
.menu {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 10;
}
.menu--visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
}
.menu__item {
  width: 30%;
  margin: 1rem auto;
  text-decoration: none;
  font-size: 3rem;
  position: relative;
}
.menu__item:hover {
  text-decoration: line-through;
}
.brand__name {
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
